<ul class="flex justify-center mt-5 space-x-5">
  {%- if settings.social_facebook_link != blank -%}
    <li>
      <a
        href="{{ settings.social_facebook_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-facebook.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a
        href="{{ settings.social_instagram_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-instagram.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a
        href="{{ settings.social_youtube_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-youtube.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li>
      <a
        href="{{ settings.social_tiktok_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-tiktok.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a
        href="{{ settings.social_twitter_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-twitter.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a
        href="{{ settings.social_pinterest_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-pinterest.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li>
      <a
        href="{{ settings.social_snapchat_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-snapchat.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li>
      <a
        href="{{ settings.social_tumblr_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-tumblr.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li>
      <a
        href="{{ settings.social_vimeo_link }}"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
      >
        {{- 'icon-vimeo.svg' | inline_asset_content -}}
      </a>
    </li>
  {%- endif -%}
</ul>
