<footer>
  <div class="bg-white border-gray-200 px-4 lg:px-6 py-8 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when '@app' %}
              {% render block %}
            {% when 'link_list' %}
              {% if block.settings.menu != blank %}
                <div>
                  {% if block.settings.heading != blank %}
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                      {{ block.settings.heading }}
                    </h2>
                  {% endif %}

                  <ul class="text-gray-500 dark:text-gray-400">
                    {% for link in block.settings.menu.links %}
                      <li class="mb-4">
                        <a href="{{ link.url }}" class="hover:underline {% if link.active %} text-red-900{% endif %}">
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
      {% if section.settings.enable_bottom %}
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
        <div class="text-center">
          {% if section.settings.bottom_heading %}
            <a
              href="{{ section.settings.bottom_heading_url }}"
              class="flex justify-center items-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white"
            >
              {{ section.settings.bottom_heading }}
            </a>
          {% endif %}
          {%- render 'copyright' -%}
          {%- if section.settings.show_social -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      {% endif %}
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bottom",
      "default": true,
      "label": "Display Bottom Section"
    },
    {
      "type": "inline_richtext",
      "id": "bottom_heading",
      "default": "Shopist",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "bottom_heading_url",
      "label": "Heading URL"
    },
    {
      "type": "checkbox",
      "id": "bottom_copyright",
      "default": true,
      "label": "Display Copyright"
    },
    {
      "type": "header",
      "content": "Utilities"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Social media icons"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top margin",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Company",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Select Menu"
        }
      ]
    }
  ]
}
{% endschema %}
