{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<header>
  <div class="relative bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800" x-data="{ mobileMenuOpen: true }">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 truncate">
        <a href="https://flowbite.com" class="flex items-center">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag:
                  class: 'mr-3 h-6 sm:h-9',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            </div>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
      </div>

      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <button
          x-on:click="mobileMenuOpen = true"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none"
        >
          {% render 'icon-hamburger' %}
        </button>
      </div>

      <!-- NAVIGATION MENU -->
      <nav x-data="{ open: false }" class="hidden md:flex space-x-10">
        {% for link in main_menu_linklist %}
          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: '-', '_' %}
            <div x-data="{  {{link_handle}}: false }" class="relative">
              <button
                x-on:click="{{link_handle}} = ! {{link_handle}}"
                type="button"
                class="inline-flex items-center text-base text-gray-500 "
              >
                {{ link.title }}
                {% render 'icon-chevron-down' %}
              </button>
              <div
                x-show="{{link_handle}}"
                @click.away="{{link_handle}} = false"
                class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
              >
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    <!-- CREATE THE SUBLINK -->
                    {% for childlink in link.links %}
                      <a href="{{ childlink.url }}" class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
                        <div class="ml-4">
                          <p class="text-gray-900 text-base font-medium">{{ childlink.title }}</p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="relative">
              <a
                href="{{ link.url }}"
                class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700  lg:bg-transparent lg:text-primary-700 lg:p-0 {% if link.active == true %} text-red-900 {% endif %}"
              >
                {{ link.title }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </nav>

      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 ">
          {% render 'icon-shopping-bag' %}
        </a>
        {% if shop.customer_accounts_enabled %}
          <a
            href="{{ routes.account_login_url }}"
            class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
            >Login</a
          >

          <a
            href="{{ routes.account_register_url }}"
            class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
            >Register</a
          >
        {% endif %}
      </div>
    </div>
    <!-- MOBILE MENU CONTAINER -->
    <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
      <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
        <div class="p-5 divide-y-2 divide-gray-50">
          <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
          <div class="flex items-center justify-between pb-3">
            <div>
              <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
            </div>
            <div class="-mr-2">
              <button x-on:click="mobileMenuOpen = false" type="button" class="bg-white rounded-md p-2 text-gray-500">
                {% render 'icon-hamburger-close' %}
              </button>
            </div>
          </div>

          <!-- NAVIGATION LINKS FOR MOBILE MENU -->
          <div class="pt-3">
            <nav class="grid gap-y-7">
              {% for link in main_menu_linklist %}
                {% assign link_handle = link.handle | replace: '-', '_' %}
                {% if link.links != blank %}
                  <div x-data="{ {{ link_handle }}:false }" class="relative">
                    <button
                      x-on:click="{{ link_handle }} = ! {{ link_handle }}"
                      type="button"
                      class="text-base text-gray-500  flex items-center justify-between w-full"
                    >
                      <div>{{ link.title }}</div>
                      {% render 'icon-chevron-down' %}
                    </button>

                    <div x-show="{{ link_handle }}" class="grid gap-y-1 py-1">
                      {% for childlink in link.links %}
                        <a
                          href="{{ childlink.url }}"
                          class="-m-3 p-3 mt-1 flex items-center rounded-md text-gray-500  hover:bg-gray-50"
                        >
                          <span class="ml-3 text-base font-medium text-gray-500">{{ childlink.title }}</span>
                        </a>
                      {%- endfor %}
                    </div>
                  </div>
                {% else %}
                  <a
                    href="{{ link.url }}"
                    class="-m-3 p-3 flex items-center rounded-md text-gray-500  hover:bg-gray-50 {% if link.active == true %} text-red-900 {% endif %}"
                  >
                    {{ link.title }}
                  </a>
                {% endif %}
              {% endfor %}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Menu",
      "info": "Change your mobile menu title or Leave it to keep default"
    }
  ]
}
{% endschema %}
